langchain
langchain-core
langchain-community
langchain-groq
pypdf
pymupdf
ipykernel
unstructured
networkx
pandas
msoffcrypto-tool
openpyxl
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
langchain-google-genai
python-dotenv
langchain-openai